body {
  color: #ffffff;
  background-color: #000000; /* Spotify black background */
  font-family: 'Circular Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-content {
  padding-bottom: 80px; /* Equal to the height of the Spotify player */
}

h1 {
  color: #1DB954; /* Spotify green */
  text-align: center;
  /* Other styles */
}

.play-pause-button, .quit-button  {
  background-color: #1DB954; /* Spotify green for buttons */
  color: #ffffff;
  border: none;
  border-radius: 50px; /* Rounded pill-shaped buttons */
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.play-pause-button:hover, .quit-button:hover {
  background-color: #1ed760;
}

.card-holder {
  background-color: #282828;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Adjust the grid layout for smaller screens */
@media (max-width: 600px) {
  .card-holder {
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }
}

.flip-card {
  background-color: transparent; 
  width: 200px;
  height: 300px;
  perspective: 1000px; /* Gives a depth effect on the flip */
}

.flip-card-wrapper {
  background-color: #282828;
  max-width: 600px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the wrapper */

  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  border-radius: 2%;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back when flipping */
}

.flip-card-front {
  background-color: #282828;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.flip-card-back {
  background-color: #383838;
  color: white;
  transform: rotateY(180deg);
}



.correct-answer {
  margin-left: 20px; /* Space between the answer and the controls */
}


.answer-and-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40%;
}

.controls, .quit {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  height: 20%;
}

.quit {
  margin-top: 100px;
}

.correct-answer {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white; /* Text color for placeholder */
  gap: 10px; /* Space between text and the image/placeholder */
  margin-top: 20px;
}

.correct-answer p, .correct-answer-placeholder p {
  min-height: 3rem; /* This sets a minimum height for one line of text */
  min-width: 50rem;
  text-align: left;
  height: 3rem; /* Or set a fixed height if you know the text won't exceed one line */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ensures text doesn't overflow its container */
  white-space: nowrap; /* Keeps the text on a single line */
  text-overflow: ellipsis; /* Adds an ellipsis if the text is too long to fit */
  color: white;
}


.correct-answer-image, .correct-answer-placeholder {
  width: 200px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
}

.correct-answer-image, .correct-answer-placeholder {
  background-color: #282828; /* Match flip-card background */
  background-size: cover;
  background-position: center;
  border-radius: 5px; /* If you want rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Text color for placeholder */
  font-size: 0.8rem; /* Adjust as needed */
}

.correct-answer-placeholder {
  background-image: none; 
  background-color: #383838;
  background-size: cover;
  background-position: center;
  border-radius: 5px; /* If you want rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Text color for placeholder */
  font-size: 0.8rem; /* Adjust as needed */ 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #1DB954;
  animation: spin 2s linear infinite;
}

/* Footer and Spotify player container */
#footer {
  /* The footer should be fixed and at the bottom */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999; /* High z-index to keep it above other content */
}

.spotify-player-container {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #333;
  width: 100%;
  height: 20vh; /* Use 20% of the viewport height */
  z-index: 100; /* Ensure it's above other elements */
}


/* Overlay to cover part of the Spotify player */
.cover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%; /* Adjust width to how much you want to cover */
  background-color: #333; /* Set your desired color */
  z-index: 101; /* Ensure it's above the Spotify player */
}


/* Responsive adjustments for different screen sizes */
@media (max-width: 768px) {
  .card-holder {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); /* 2 columns for medium screens */
  }

  .cover-overlay {
    width: 40%; /* Cover more for smaller screens if necessary */
  }

  h1 {
    font-size: 5vw; /* Responsive font size */
  }
}


@media (max-width: 480px) {
  .card-holder {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }

  .cover-overlay {
    width: 50%; /* Cover more for smaller screens if necessary */
  }

  h1 {
    font-size: 6vw; /* Larger responsive font size for very small screens */
  }
}

@media (max-height: 1200px) {
  .controls {
    visibility: hidden; /* 1 column for small screens */
  }
}


